pipeline/plRefreshVault.json
{
	"name": "plRefreshVault",
	"properties": {
		"activities": [
			{
				"name": "Update Refresh Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/bbc4d1ec66d449db8a6b5713896751ca?api-version=7.0",
					"method": "POST",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Refresh Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://identity.xero.com/connect/token",
					"method": "POST",
					"headers": {
						"grant_type": "refresh_token",
						"refresh_token": {
							"value": "@variables('vRefresh_token')",
							"type": "Expression"
						},
						"client_id": {
							"value": "@variables('vClient_id')",
							"type": "Expression"
						},
						"client_secret": {
							"value": "@variables('vClient_secret')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Refresh Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRefresh_token",
					"value": {
						"value": "@activity('Get Refresh Token').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vNew_refresh_token": {
				"type": "String"
			},
			"vRefresh_token": {
				"type": "String"
			},
			"vClient_id": {
				"type": "String"
			},
			"vClient_secret": {
				"type": "String"
			}
		},
		"annotations": []
	}
}