pipeline/plRefreshVault.json
{
	"name": "plRefreshVault",
	"properties": {
		"activities": [
			{
				"name": "Update Refresh Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set New Refresh Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/bbc4d1ec66d449db8a6b5713896751ca?api-version=7.0",
					"method": "POST",
					"body": {
						"value": "@variables('vNew_refresh_token')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Xero Refresh Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Refresh Token Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://identity.xero.com/connect/token",
					"method": "POST",
					"headers": {
						"grant_type": "refresh_token",
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@variables('vRefresh_token_data')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set New Refresh Token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Xero Refresh Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vNew_refresh_token",
					"value": {
						"value": "@activity('Get Xero Refresh Token').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Read Client Id",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Client Id Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://xerodatakeyvault.vault.azure.net/secrets/xero-client-id-bouva-fuel/@{variables('vClient_id_version')}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Read Client Secret",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Client Secret Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://xerodatakeyvault.vault.azure.net/secrets/xero-secret-bouva-fuel/@{variables('vClient_secret_version')}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Client Secret",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read Client Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vClient_secret",
					"value": {
						"value": "@activity('Read Client Secret').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Client Id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read Client Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vClient_id",
					"value": {
						"value": "@activity('Read Client Id').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Read Refresh Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Refresh Token Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/@{variables('vRefresh_token_version')}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Current Refresh Token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read Refresh Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRefresh_token",
					"value": {
						"value": "@activity('Read Refresh Token').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Refresh Token Data",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Client Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Current Refresh Token",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Client Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRefresh_token_data",
					"value": {
						"value": "grant_type=refresh_token&refresh_token=@{variables('vRefresh_token')}&client_id=@{variables('vClient_id')}&client_secret=@{variables('vClient_secret')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_xero_token_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetClientRefreshTokenData]",
						"storedProcedureParameters": {
							"org_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pOrgName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_client_refresh_token_data",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Client Id Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_xero_token_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vClient_id_version",
					"value": {
						"value": "@activity('get_xero_token_data').output.firstRow.client_id_version",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Client Secret Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_xero_token_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vClient_secret_version",
					"value": {
						"value": "@activity('get_xero_token_data').output.firstRow.secret_key_version",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Refresh Token Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_xero_token_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vClient_id",
					"value": {
						"value": "@activity('get_xero_token_data').output.firstRow.token_version",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pOrgName": {
				"type": "string",
				"defaultValue": "Bovua Fuel (Pty) Ltd"
			}
		},
		"variables": {
			"vNew_refresh_token": {
				"type": "String"
			},
			"vRefresh_token": {
				"type": "String"
			},
			"vClient_id": {
				"type": "String"
			},
			"vClient_secret": {
				"type": "String"
			},
			"vRefresh_token_data": {
				"type": "String"
			},
			"vClient_id_version": {
				"type": "String"
			},
			"vClient_secret_version": {
				"type": "String"
			},
			"vRefresh_token_version": {
				"type": "String"
			}
		},
		"annotations": []
	}
}