XeroDataPull/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "XeroDataPull"
		},
		"sqlXero_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlXero'"
		},
		"XeroDataAKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://xerodatakeyvault.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/plRefreshVault')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set New Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/bbc4d1ec66d449db8a6b5713896751ca?api-version=7.0",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@variables('vNew_refresh_token')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get Xero Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Refresh Token Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://identity.xero.com/connect/token",
							"method": "POST",
							"headers": {
								"grant_type": "refresh_token",
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@variables('vRefresh_token_data')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set New Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Xero Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vNew_refresh_token",
							"value": {
								"value": "@activity('Get Xero Refresh Token').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Client Id",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-client-id-bouva-fuel/e7e90078e1814ba2a36985f4b9fdf20c?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Read Client Secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-secret-bouva-fuel/d4de9cc59dfe41c3a5a455f2daccfd25?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Client Secret",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_secret",
							"value": {
								"value": "@activity('Read Client Secret').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Client Id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_id",
							"value": {
								"value": "@activity('Read Client Id').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Refresh Token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/1e38001e6e664f1baba37cac82c977ad?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Current Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token",
							"value": {
								"value": "@activity('Read Refresh Token').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Refresh Token Data",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Current Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token_data",
							"value": {
								"value": "grant_type=refresh_token&refresh_token=@{variables('vRefresh_token')}&client_id=@{variables('vClient_id')}&client_secret=@{variables('vClient_secret')}",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"vNew_refresh_token": {
						"type": "String"
					},
					"vRefresh_token": {
						"type": "String"
					},
					"vClient_id": {
						"type": "String"
					},
					"vClient_secret": {
						"type": "String"
					},
					"vRefresh_token_data": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/XeroDataAKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('XeroDataAKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlXero')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqlXero_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Accounts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BovuaFuelApi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Xero",
				"typeProperties": {
					"connectionProperties": {
						"host": "api.xero.com",
						"authenticationType": "OAuth_2.0",
						"consumerKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-client-id-bouva-fuel",
							"secretVersion": ""
						},
						"privateKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-secret-bouva-fuel"
						},
						"useEncryptedEndpoints": true,
						"tenantId": "a9aa610c-5c24-40e4-8653-76e1f732c593",
						"refreshToken": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-refresh-token-bouva-fuel"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/XeroDataAKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_associations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Associations"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankFeedConnections')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankFeedConnections"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransactionLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransactionLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransfers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransfers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactAddresses')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactAddresses"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactGroupContacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactGroupContacts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactGroups')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactGroups"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Contacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Contacts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsContactPerson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsContactPerson"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsPhones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsPhones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_CreditNoteLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CreditNoteLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_CreditNotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CreditNotes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Employees')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Employees"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ExpenseClaimPayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ExpenseClaimPayments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		}
	]
}