XeroDataPull/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "XeroDataPull"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sql_Prepayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Prepayments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Projects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Projects"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_PurchaseOrderLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PurchaseOrderLineItems"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_PurchaseOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PurchaseOrders"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ReceiptLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ReceiptLineItems"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Receipts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Receipts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_RepeatingInvoiceLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "RepeatingInvoiceLineItems"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_RepeatingInvoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "RepeatingInvoices"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Statements')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Statements"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_TaxRateTaxComponents')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "TaxRateTaxComponents"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_TaxRates')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "TaxRates"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Users"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Accounts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_associations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Associations"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_client_refresh_token_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ClientRefrehTokenData"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BovuaFuelApi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Xero",
				"typeProperties": {
					"connectionProperties": {
						"host": "api.xero.com",
						"authenticationType": "OAuth_2.0",
						"consumerKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-client-id-bouva-fuel",
							"secretVersion": ""
						},
						"privateKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-secret-bouva-fuel",
							"secretVersion": ""
						},
						"useEncryptedEndpoints": true,
						"tenantId": "a9aa610c-5c24-40e4-8653-76e1f732c593",
						"refreshToken": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-refresh-token-bouva-fuel",
							"secretVersion": ""
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plRefreshVault')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set New Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel?api-version=7.0",
							"method": "DELETE",
							"headers": {},
							"body": {
								"value": "@variables('vNew_refresh_token')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get Xero Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Refresh Token Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://identity.xero.com/connect/token",
							"method": "POST",
							"headers": {
								"grant_type": "refresh_token",
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@variables('vRefresh_token_data')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set New Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Xero Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vNew_refresh_token",
							"value": {
								"value": "@activity('Get Xero Refresh Token').output.refresh_token",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Client Id",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Client Id Version",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://xerodatakeyvault.vault.azure.net/secrets/xero-client-id-bouva-fuel/@{variables('vClient_id_version')}?api-version=7.0",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Read Client Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Client Secret Version",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://xerodatakeyvault.vault.azure.net/secrets/xero-secret-bouva-fuel/@{variables('vClient_secret_version')}?api-version=7.0",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Client Secret",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_secret",
							"value": {
								"value": "@activity('Read Client Secret').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Client Id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_id",
							"value": {
								"value": "@activity('Read Client Id').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Refresh Token Version",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/@{variables('vRefresh_token_version')}?api-version=7.0",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Current Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token",
							"value": {
								"value": "@activity('Read Refresh Token').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Refresh Token Data",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Current Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token_data",
							"value": {
								"value": "grant_type=refresh_token&refresh_token=@{variables('vRefresh_token')}&client_id=@{variables('vClient_id')}&client_secret=@{variables('vClient_secret')}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_xero_token_data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetClientRefreshTokenData]",
								"storedProcedureParameters": {
									"org_name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.pOrgName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sql_client_refresh_token_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set Client Id Version",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_xero_token_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_id_version",
							"value": {
								"value": "@activity('get_xero_token_data').output.firstRow.client_id_version",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Client Secret Version",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_xero_token_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_secret_version",
							"value": {
								"value": "@activity('get_xero_token_data').output.firstRow.secret_key_version",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Refresh Token Version",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_xero_token_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token_version",
							"value": {
								"value": "@activity('get_xero_token_data').output.firstRow.token_version",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Purge Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel?api-version=7.0",
							"method": "PUT",
							"headers": {},
							"body": {
								"value": "{\n  \"value\": \"@{variables('vNew_refresh_token')}\"\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/deletedsecrets/xero-refresh-token-bouva-fuel?api-version=7.0",
							"method": "DELETE",
							"headers": {},
							"body": {
								"value": "@variables('vNew_refresh_token')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "update_xero_token_key",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_UpdateRefreshToken]",
							"storedProcedureParameters": {
								"org_name": {
									"value": {
										"value": "@pipeline().parameters.pOrgName",
										"type": "Expression"
									},
									"type": "String"
								},
								"token_version": {
									"value": {
										"value": "@replace(activity('Set Refresh Token').output.id, 'https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/','')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqlXero",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"pOrgName": {
						"type": "string",
						"defaultValue": "Bovua Fuel (Pty) Ltd"
					}
				},
				"variables": {
					"vNew_refresh_token": {
						"type": "String"
					},
					"vRefresh_token": {
						"type": "String"
					},
					"vClient_id": {
						"type": "String"
					},
					"vClient_secret": {
						"type": "String"
					},
					"vRefresh_token_data": {
						"type": "String"
					},
					"vClient_id_version": {
						"type": "String"
					},
					"vClient_secret_version": {
						"type": "String"
					},
					"vRefresh_token_version": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sql_client_refresh_token_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Accounts\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AssetTypes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"AssetTypes\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Associations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Associations\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		}
	]
}