XeroDataPull/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "XeroDataPull"
		},
		"sqlXero_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlXero'"
		},
		"XeroDataAKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://xerodatakeyvault.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/plAccounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Accounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AssetTypes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AssetTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_AssetTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Associations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Associations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_associations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CreditNoteLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CreditNotes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CreditNoteLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_CreditNoteLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CreditNotes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CreditNotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_CreditNotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Accounts')]",
				"[concat(variables('factoryId'), '/datasets/sql_accounts')]",
				"[concat(variables('factoryId'), '/datasets/AssetTypes')]",
				"[concat(variables('factoryId'), '/datasets/sql_AssetTypes')]",
				"[concat(variables('factoryId'), '/datasets/Associations')]",
				"[concat(variables('factoryId'), '/datasets/sql_associations')]",
				"[concat(variables('factoryId'), '/datasets/CreditNoteLineItems')]",
				"[concat(variables('factoryId'), '/datasets/sql_CreditNoteLineItems')]",
				"[concat(variables('factoryId'), '/datasets/CreditNotes')]",
				"[concat(variables('factoryId'), '/datasets/sql_CreditNotes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plBank')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BankTransactionsLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BankTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransactionLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransactionLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BankTransactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BankTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BankTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransfers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransfers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BankTransactionLineItems')]",
				"[concat(variables('factoryId'), '/datasets/sql_BankTransactionLineItems')]",
				"[concat(variables('factoryId'), '/datasets/BankTransactions')]",
				"[concat(variables('factoryId'), '/datasets/sql_BankTransactions')]",
				"[concat(variables('factoryId'), '/datasets/BankTransfers')]",
				"[concat(variables('factoryId'), '/datasets/sql_BankTransfers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plContacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ContactAddresses",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactAddresses",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactAddresses",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ContactGroupContacts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ContactGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactGroupContacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactGroupContacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ContactGroups",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ContactsContactPerson",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ContactsPhones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactGroups",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactGroups",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Contacts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Contacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Contacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ContactsContactPerson",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ContactAddresses",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsContactPerson",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsContactPerson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ContactsPhones",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsPhones",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsPhones",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ContactAddresses')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactAddresses')]",
				"[concat(variables('factoryId'), '/datasets/ContactGroupContacts')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactGroupContacts')]",
				"[concat(variables('factoryId'), '/datasets/ContactGroups')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactGroups')]",
				"[concat(variables('factoryId'), '/datasets/Contacts')]",
				"[concat(variables('factoryId'), '/datasets/sql_Contacts')]",
				"[concat(variables('factoryId'), '/datasets/ContactsContactPerson')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactsContactPerson')]",
				"[concat(variables('factoryId'), '/datasets/ContactsPhones')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactsPhones')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plEmployees')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Employees",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Employees",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Employees",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ExpenseClaimPayments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExpenseClaimPayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ExpenseClaimPayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ExpenseClaimReceipts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExpenseClaimReceipts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ExpenseClaimReceipts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ExpenseClaims",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExpenseClaims",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ExpenseClaims",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Employees')]",
				"[concat(variables('factoryId'), '/datasets/sql_Employees')]",
				"[concat(variables('factoryId'), '/datasets/ExpenseClaimPayments')]",
				"[concat(variables('factoryId'), '/datasets/sql_ExpenseClaimPayments')]",
				"[concat(variables('factoryId'), '/datasets/ExpenseClaimReceipts')]",
				"[concat(variables('factoryId'), '/datasets/sql_ExpenseClaimReceipts')]",
				"[concat(variables('factoryId'), '/datasets/ExpenseClaims')]",
				"[concat(variables('factoryId'), '/datasets/sql_ExpenseClaims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plInvoices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InvoiceLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoiceLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Invoices",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Invoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Invoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InvoicesCreditNotes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoicesCreditNotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoicesCreditNotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InvoicesOverpayments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoicesOverpayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoicesOverpayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InvoicesPrepayments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoicesPrepayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoicesPrepayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RepeatingInvoiceLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "RepeatingInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RepeatingInvoiceLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_RepeatingInvoiceLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RepeatingInvoices",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RepeatingInvoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_RepeatingInvoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InvoiceLineItems')]",
				"[concat(variables('factoryId'), '/datasets/sql_InvoiceLineItems')]",
				"[concat(variables('factoryId'), '/datasets/Invoices')]",
				"[concat(variables('factoryId'), '/datasets/sql_Invoices')]",
				"[concat(variables('factoryId'), '/datasets/InvoicesCreditNotes')]",
				"[concat(variables('factoryId'), '/datasets/sql_InvoicesCreditNotes')]",
				"[concat(variables('factoryId'), '/datasets/InvoicesOverpayments')]",
				"[concat(variables('factoryId'), '/datasets/sql_InvoicesOverpayments')]",
				"[concat(variables('factoryId'), '/datasets/InvoicesPrepayments')]",
				"[concat(variables('factoryId'), '/datasets/sql_InvoicesPrepayments')]",
				"[concat(variables('factoryId'), '/datasets/RepeatingInvoiceLineItems')]",
				"[concat(variables('factoryId'), '/datasets/sql_RepeatingInvoiceLineItems')]",
				"[concat(variables('factoryId'), '/datasets/RepeatingInvoices')]",
				"[concat(variables('factoryId'), '/datasets/sql_RepeatingInvoices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plJournals')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ManualJournalLines",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ManualJournals",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ManualJournalLines",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ManualJournalLines",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ManualJournals",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ManualJournals",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ManualJournal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ManualJournalLines')]",
				"[concat(variables('factoryId'), '/datasets/sql_ManualJournalLines')]",
				"[concat(variables('factoryId'), '/datasets/ManualJournals')]",
				"[concat(variables('factoryId'), '/datasets/sql_ManualJournal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plMain')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Items",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Organisations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Items",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Items",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Organisations",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organisations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Organisations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Users",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Items",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Items')]",
				"[concat(variables('factoryId'), '/datasets/sql_Items')]",
				"[concat(variables('factoryId'), '/datasets/Organisations')]",
				"[concat(variables('factoryId'), '/datasets/sql_Organisations')]",
				"[concat(variables('factoryId'), '/datasets/Users')]",
				"[concat(variables('factoryId'), '/datasets/sql_Users')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plMaster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "plAccounts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plMain",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plAccounts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plBank",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plAccounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plBank",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plContacts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plAccounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plContacts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plEmployees",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plBank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plEmployees",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plInvoices",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plContacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plInvoices",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plJournals",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plEmployees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plJournals",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plMisc",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plMisc",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plRefreshVault",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plJournals",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plMisc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plRefreshVault",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "plMain",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plMain",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/plAccounts')]",
				"[concat(variables('factoryId'), '/pipelines/plBank')]",
				"[concat(variables('factoryId'), '/pipelines/plContacts')]",
				"[concat(variables('factoryId'), '/pipelines/plEmployees')]",
				"[concat(variables('factoryId'), '/pipelines/plInvoices')]",
				"[concat(variables('factoryId'), '/pipelines/plJournals')]",
				"[concat(variables('factoryId'), '/pipelines/plMisc')]",
				"[concat(variables('factoryId'), '/pipelines/plRefreshVault')]",
				"[concat(variables('factoryId'), '/pipelines/plMain')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plMisc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OverpaymentAllocations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Overpayments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OverpaymentAllocations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_OverpaymentAllocations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Overpayments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Overpayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Overpayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PrepaymentLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Prepayments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PrepaymentLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_PrepaymentLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Prepayments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Prepayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Prepayments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PurchaseOrderLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PurchaseOrders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PurchaseOrderLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_PurchaseOrderLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PurchaseOrders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PurchaseOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_PurchaseOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ReceiptLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Receipts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ReceiptLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ReceiptLineItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Receipts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Receipts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Receipts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TaxRates",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TaxRates",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_TaxRates",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TaxRateTaxComponent",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TaxRates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TaxRateTaxComponents",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_TaxRateTaxComponents",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OverpaymentAllocations')]",
				"[concat(variables('factoryId'), '/datasets/sql_OverpaymentAllocations')]",
				"[concat(variables('factoryId'), '/datasets/Overpayments')]",
				"[concat(variables('factoryId'), '/datasets/sql_Overpayments')]",
				"[concat(variables('factoryId'), '/datasets/PrepaymentLineItems')]",
				"[concat(variables('factoryId'), '/datasets/sql_PrepaymentLineItems')]",
				"[concat(variables('factoryId'), '/datasets/Prepayments')]",
				"[concat(variables('factoryId'), '/datasets/sql_Prepayments')]",
				"[concat(variables('factoryId'), '/datasets/PurchaseOrderLineItems')]",
				"[concat(variables('factoryId'), '/datasets/sql_PurchaseOrderLineItems')]",
				"[concat(variables('factoryId'), '/datasets/PurchaseOrders')]",
				"[concat(variables('factoryId'), '/datasets/sql_PurchaseOrders')]",
				"[concat(variables('factoryId'), '/datasets/ReceiptLineItems')]",
				"[concat(variables('factoryId'), '/datasets/sql_ReceiptLineItems')]",
				"[concat(variables('factoryId'), '/datasets/Receipts')]",
				"[concat(variables('factoryId'), '/datasets/sql_Receipts')]",
				"[concat(variables('factoryId'), '/datasets/TaxRates')]",
				"[concat(variables('factoryId'), '/datasets/sql_TaxRates')]",
				"[concat(variables('factoryId'), '/datasets/TaxRateTaxComponents')]",
				"[concat(variables('factoryId'), '/datasets/sql_TaxRateTaxComponents')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plRefreshVault')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set New Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/bbc4d1ec66d449db8a6b5713896751ca?api-version=7.0",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@variables('vNew_refresh_token')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get Xero Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Refresh Token Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://identity.xero.com/connect/token",
							"method": "POST",
							"headers": {
								"grant_type": "refresh_token",
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@variables('vRefresh_token_data')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set New Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Xero Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vNew_refresh_token",
							"value": {
								"value": "@activity('Get Xero Refresh Token').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Client Id",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-client-id-bouva-fuel/92593a4487404f039c81f43ed71e9fa3?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Read Client Secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-secret-bouva-fuel/d4de9cc59dfe41c3a5a455f2daccfd25?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Client Secret",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_secret",
							"value": {
								"value": "@activity('Read Client Secret').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Client Id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_id",
							"value": {
								"value": "@activity('Read Client Id').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Refresh Token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/1e38001e6e664f1baba37cac82c977ad?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Current Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token",
							"value": {
								"value": "@activity('Read Refresh Token').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Refresh Token Data",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Current Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token_data",
							"value": {
								"value": "grant_type=refresh_token&refresh_token=@{variables('vRefresh_token')}&client_id=@{variables('vClient_id')}&client_secret=@{variables('vClient_secret')}",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"vNew_refresh_token": {
						"type": "String"
					},
					"vRefresh_token": {
						"type": "String"
					},
					"vClient_id": {
						"type": "String"
					},
					"vClient_secret": {
						"type": "String"
					},
					"vRefresh_token_data": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Accounts\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AssetTypes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"AssetTypes\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Associations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Associations\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BankFeedConnections')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"BankFeedConnections\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BankTransactionLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Bank_Transaction_Line_Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BankTransactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Bank_Transactions\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BankTransfers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Bank_Transfers\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactAddresses')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts_Addresses\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactGroupContacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contact_Group_Contacts\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactGroups')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contact_Groups\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Contacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactsContactPerson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts_Contact_Persons\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactsPhones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts_Phones\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CreditNoteLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Credit_Note_Line_Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CreditNotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Credit_Notes\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employees')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Employees\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExpenseClaimPayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Expense_Claim_Payments\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExpenseClaimReceipts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Expense_Claim_Receipts\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExpenseClaims')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Expense_Claims\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvoiceLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Invoice_Line_Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Invoices\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvoicesCreditNotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Invoices_Credit_Notes\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvoicesOverpayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Invoices_Overpayments\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvoicesPrepayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Invoices_Prepayments\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JournalLines')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Journal_Lines\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Journals')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Journals\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManualJournalLines')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Manual_Journal_Lines\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManualJournals')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Manual_Journals\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Organisations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Organisations\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OverpaymentAllocations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Overpayments_Allocations\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Overpayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Overpayments\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PrepaymentLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Prepayment_Line_Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prepayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Prepayments\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Projects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Projects\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PurchaseOrderLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Purchase_Order_Line_Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PurchaseOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Purchase_Orders\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReceiptLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Receipt_Line_Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Receipts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Receipts\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RepeatingInvoiceLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Repeating_Invoice_Line_Items\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RepeatingInvoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Repeating_Invoices\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Statements')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Statements\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxRateTaxComponents')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Tax_Rate_Tax_Components\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TaxRates')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Tax_Rates\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Users\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_AssetTypes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "AssetTypes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankFeedConnections')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankFeedConnections"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransactionLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransactionLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransfers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransfers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactAddresses')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactAddresses"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactGroupContacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactGroupContacts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactGroups')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactGroups"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Contacts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Contacts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsContactPerson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsContactPerson"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsPhones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsPhones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_CreditNoteLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CreditNoteLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_CreditNotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CreditNotes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Employees')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Employees"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ExpenseClaimPayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ExpenseClaimPayments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ExpenseClaimReceipts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ExpenseClaimReceipts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ExpenseClaims')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ExpenseClaims"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_InvoiceLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "InvoiceLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Invoices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_InvoicesCreditNotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "InvoicesCreditNotes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_InvoicesOverpayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "InvoicesOverpayments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_InvoicesPrepayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "InvoicesPrepayments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Items"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Journal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Journal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_JournalLines')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "JournalLines"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ManualJournal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ManualJournal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ManualJournalLines')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ManualJournalLines"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Organisations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Organisations"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_OverpaymentAllocations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "OverpaymentAllocations"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Overpayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Overpayments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_PrepaymentLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PrepaymentLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Prepayments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Prepayments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Projects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Projects"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_PurchaseOrderLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PurchaseOrderLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_PurchaseOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PurchaseOrders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ReceiptLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ReceiptLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Receipts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Receipts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_RepeatingInvoiceLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "RepeatingInvoiceLineItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_RepeatingInvoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "RepeatingInvoices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Statements')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Statements"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_TaxRateTaxComponents')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "TaxRateTaxComponents"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_TaxRates')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "TaxRates"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Users"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Accounts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_associations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Associations"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BovuaFuelApi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Xero",
				"typeProperties": {
					"connectionProperties": {
						"host": "api.xero.com",
						"authenticationType": "OAuth_2.0",
						"consumerKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-client-id-bouva-fuel",
							"secretVersion": ""
						},
						"privateKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-secret-bouva-fuel",
							"secretVersion": ""
						},
						"useEncryptedEndpoints": true,
						"tenantId": "a9aa610c-5c24-40e4-8653-76e1f732c593",
						"refreshToken": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-refresh-token-bouva-fuel",
							"secretVersion": ""
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/XeroDataAKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/XeroDataAKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('XeroDataAKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlXero')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqlXero_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BankTransactionLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Bank_Transaction_Line_Item_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactsPurchasesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts_Purchases_Tracking_Categories\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactsSalesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts_Sales_Tracking_Categories\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CreditNotesLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Credit_Notes_Line_Items_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvoiceLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Invoices_Line_Items_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManualJournalLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Manual_Journal_Line_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OverpaymentLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Overpayment_Line_Items_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransactionLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransactionLineItemsTracking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsPurchasesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsPurchasesTrackingCategories"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsSalesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsSalesTrackingCategories"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_CreditNotesLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CreditNotesLineItemsTracking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_InvoiceLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "InvoiceLineItemsTracking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ManualJournalLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ManualJournalLineItemsTracking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_OverpaymentLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "OverpaymentLineItemsTracking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlXero')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plTracking')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BankTransactionLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransactionLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransactionLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ContactsPurchasesTrackingCategories",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsPurchasesTrackingCategories",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsPurchasesTrackingCategories",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ContactsSalesTrackingCategories",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsSalesTrackingCategories",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsSalesTrackingCategories",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CreditNotesLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CreditNotesLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_CreditNotesLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InvoiceLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoiceLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ManualJournalLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ManualJournalLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ManualJournalLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OverpaymentLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OverpaymentLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_OverpaymentLineItemsTracking",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BankTransactionLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_BankTransactionLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/ContactsPurchasesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactsPurchasesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/ContactsSalesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactsSalesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/CreditNotesLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_CreditNotesLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/InvoiceLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_InvoiceLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/ManualJournalLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_ManualJournalLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/OverpaymentLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_OverpaymentLineItemsTracking')]"
			]
		}
	]
}