XeroDataPull/PartialArmTemplates/ArmTemplate_2_23_2021_9_41_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "XeroDataPull"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/plAccounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Accounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Accounts",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_accounts",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "AssetTypes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AssetTypes",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_AssetTypes",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Associations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Associations",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_associations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CreditNoteLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CreditNotes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CreditNoteLineItems",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_CreditNoteLineItems",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CreditNotes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CreditNotes",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_CreditNotes",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plBank')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BankTransactionsLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BankTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransactionLineItems",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransactionLineItems",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "BankTransactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransactions",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransactions",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "BankTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BankTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransfers",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransfers",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plContacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ContactAddresses",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactAddresses",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactAddresses",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ContactGroupContacts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ContactGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactGroupContacts",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactGroupContacts",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ContactGroups",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ContactsContactPerson",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ContactsPhones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactGroups",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactGroups",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Contacts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Contacts",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Contacts",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ContactsContactPerson",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ContactAddresses",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsContactPerson",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsContactPerson",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ContactsPhones",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsPhones",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsPhones",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plEmployees')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Employees",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Employees",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Employees",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ExpenseClaimPayments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExpenseClaimPayments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ExpenseClaimPayments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ExpenseClaimReceipts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExpenseClaimReceipts",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ExpenseClaimReceipts",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ExpenseClaims",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExpenseClaims",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ExpenseClaims",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plInvoices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InvoiceLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceLineItems",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoiceLineItems",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Invoices",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Invoices",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Invoices",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "InvoicesCreditNotes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoicesCreditNotes",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoicesCreditNotes",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "InvoicesOverpayments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoicesOverpayments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoicesOverpayments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "InvoicesPrepayments",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoicesPrepayments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoicesPrepayments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "RepeatingInvoiceLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "RepeatingInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RepeatingInvoiceLineItems",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_RepeatingInvoiceLineItems",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "RepeatingInvoices",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RepeatingInvoices",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_RepeatingInvoices",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plJournals')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ManualJournalLines",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ManualJournals",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ManualJournalLines",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ManualJournalLines",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ManualJournals",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ManualJournals",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ManualJournal",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plMain')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Items",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Organisations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Items",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Items",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Organisations",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Organisations",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Organisations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Users",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Items",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Users",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Users",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plMaster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "plAccounts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plMain",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plAccounts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plBank",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plAccounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plBank",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plContacts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plAccounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plContacts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plEmployees",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plBank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plEmployees",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plInvoices",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plContacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plInvoices",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plJournals",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plEmployees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plJournals",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plMisc",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plMisc",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plRefreshVault",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "plJournals",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plMisc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plRefreshVault",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "plMain",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "plMain",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/plAccounts')]",
				"[concat(variables('factoryId'), '/pipelines/plBank')]",
				"[concat(variables('factoryId'), '/pipelines/plContacts')]",
				"[concat(variables('factoryId'), '/pipelines/plEmployees')]",
				"[concat(variables('factoryId'), '/pipelines/plInvoices')]",
				"[concat(variables('factoryId'), '/pipelines/plJournals')]",
				"[concat(variables('factoryId'), '/pipelines/plMisc')]",
				"[concat(variables('factoryId'), '/pipelines/plRefreshVault')]",
				"[concat(variables('factoryId'), '/pipelines/plMain')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plMisc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OverpaymentAllocations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Overpayments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OverpaymentAllocations",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_OverpaymentAllocations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Overpayments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Overpayments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Overpayments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PrepaymentLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Prepayments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PrepaymentLineItems",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_PrepaymentLineItems",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prepayments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Prepayments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Prepayments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PurchaseOrderLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PurchaseOrders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PurchaseOrderLineItems",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_PurchaseOrderLineItems",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PurchaseOrders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PurchaseOrders",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_PurchaseOrders",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ReceiptLineItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Receipts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ReceiptLineItems",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ReceiptLineItems",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Receipts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Receipts",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_Receipts",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "TaxRates",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TaxRates",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_TaxRates",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "TaxRateTaxComponent",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TaxRates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TaxRateTaxComponents",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_TaxRateTaxComponents",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"scopes": {
						"type": "String",
						"defaultValue": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
					},
					"re_directURL": {
						"type": "String",
						"defaultValue": "https://developer.xero.com"
					},
					"auth_url": {
						"type": "String",
						"defaultValue": "https://login.xero.com/identity/connect/authorize"
					},
					"access_token_url": {
						"type": "String",
						"defaultValue": "https://identity.xero.com/connect/token"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sql_PrepaymentLineItems')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plRefreshVault')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set New Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/bbc4d1ec66d449db8a6b5713896751ca?api-version=7.0",
							"method": "POST",
							"body": {
								"value": "@variables('vNew_refresh_token')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get Xero Refresh Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Refresh Token Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://identity.xero.com/connect/token",
							"method": "POST",
							"headers": {
								"grant_type": "refresh_token",
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@variables('vRefresh_token_data')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set New Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Xero Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vNew_refresh_token",
							"value": {
								"value": "@activity('Get Xero Refresh Token').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Client Id",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-client-id-bouva-fuel/92593a4487404f039c81f43ed71e9fa3?api-version=7.0",
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Read Client Secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-secret-bouva-fuel/d4de9cc59dfe41c3a5a455f2daccfd25?api-version=7.0",
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Client Secret",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_secret",
							"value": {
								"value": "@activity('Read Client Secret').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Client Id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vClient_id",
							"value": {
								"value": "@activity('Read Client Id').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Read Refresh Token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://xerodatakeyvault.vault.azure.net/secrets/xero-refresh-token-bouva-fuel/1e38001e6e664f1baba37cac82c977ad?api-version=7.0",
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set Current Refresh Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Read Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token",
							"value": {
								"value": "@activity('Read Refresh Token').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Refresh Token Data",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Client Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Current Refresh Token",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Client Id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vRefresh_token_data",
							"value": {
								"value": "grant_type=refresh_token&refresh_token=@{variables('vRefresh_token')}&client_id=@{variables('vClient_id')}&client_secret=@{variables('vClient_secret')}",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"vNew_refresh_token": {
						"type": "String"
					},
					"vRefresh_token": {
						"type": "String"
					},
					"vClient_id": {
						"type": "String"
					},
					"vClient_secret": {
						"type": "String"
					},
					"vRefresh_token_data": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_PrepaymentLineItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PrepaymentLineItems"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BovuaFuelApi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Xero",
				"typeProperties": {
					"connectionProperties": {
						"host": "api.xero.com",
						"authenticationType": "OAuth_2.0",
						"consumerKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-client-id-bouva-fuel",
							"secretVersion": ""
						},
						"privateKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-secret-bouva-fuel",
							"secretVersion": ""
						},
						"useEncryptedEndpoints": true,
						"tenantId": "a9aa610c-5c24-40e4-8653-76e1f732c593",
						"refreshToken": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "XeroDataAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "xero-refresh-token-bouva-fuel",
							"secretVersion": ""
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BankTransactionLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Bank_Transaction_Line_Item_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactsPurchasesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts_Purchases_Tracking_Categories\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContactsSalesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Contacts_Sales_Tracking_Categories\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CreditNotesLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Credit_Notes_Line_Items_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvoiceLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Invoices_Line_Items_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManualJournalLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Manual_Journal_Line_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OverpaymentLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BovuaFuelApi",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Xero"
				},
				"annotations": [],
				"type": "XeroObject",
				"schema": [],
				"typeProperties": {
					"tableName": "\"Global\".\"Overpayment_Line_Items_Tracking\""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BovuaFuelApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_BankTransactionLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BankTransactionLineItemsTracking"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsPurchasesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsPurchasesTrackingCategories"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ContactsSalesTrackingCategories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContactsSalesTrackingCategories"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_CreditNotesLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CreditNotesLineItemsTracking"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_InvoiceLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "InvoiceLineItemsTracking"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_ManualJournalLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ManualJournalLineItemsTracking"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_OverpaymentLineItemsTracking')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlXero",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "OverpaymentLineItemsTracking"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/plTracking')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BankTransactionLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BankTransactionLineItemsTracking",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_BankTransactionLineItemsTracking",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ContactsPurchasesTrackingCategories",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsPurchasesTrackingCategories",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsPurchasesTrackingCategories",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ContactsSalesTrackingCategories",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ContactsSalesTrackingCategories",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ContactsSalesTrackingCategories",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CreditNotesLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CreditNotesLineItemsTracking",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_CreditNotesLineItemsTracking",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "InvoiceLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceLineItemsTracking",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_InvoiceLineItemsTracking",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ManualJournalLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ManualJournalLineItemsTracking",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_ManualJournalLineItemsTracking",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OverpaymentLineItemsTracking",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XeroSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OverpaymentLineItemsTracking",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sql_OverpaymentLineItemsTracking",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BankTransactionLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_BankTransactionLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/ContactsPurchasesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactsPurchasesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/ContactsSalesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/sql_ContactsSalesTrackingCategories')]",
				"[concat(variables('factoryId'), '/datasets/CreditNotesLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_CreditNotesLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/InvoiceLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_InvoiceLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/ManualJournalLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_ManualJournalLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/OverpaymentLineItemsTracking')]",
				"[concat(variables('factoryId'), '/datasets/sql_OverpaymentLineItemsTracking')]"
			]
		}
	]
}